{% extends "AppFinal/Padre.html" %}

{% load static %}

{% block Titulo %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Comprar la Sony PS5 ahora es más caro.</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Enero 03, 2023 </div>
                    <div class="text-muted fst-italic mb-2">by Jose Rivas</div>
                    <!-- Post categories-->
               
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://d500.epimg.net/cincodias/imagenes/2022/08/25/gadgets/1661438175_338210_1661438245_sumario_normal_recorte1.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p>Sony acaba de anunciar una subida de precio para su PlayStation 5 a través del blog oficial de la compañía. Una subida que tiene carácter inmediato y que ha sido provocado por la subida de la inflación mundial.</p>

                    <p>La compañía ha dejado claro que esta subida se aplicará a casi todo el mundo, indicando en el blog los precios de la consola de sobremesa de última generación en función de la región en la que se venda.</p> 
                        
                    <p>En el documento publicado indican que “Sony ha tomado la difícil decisión de aumentar el precio minorista recomendado (RRP) de PlayStation 5 en mercados seleccionados de Europa, Medio Oriente y África (EMEA), 
                        Asia-Pacífico (APAC), América Latina ( LATAM), así como Canadá. No habrá aumento de precios en los Estados Unidos”. Estos son los precios oficiales desde hoy:</p>
                    
                    <p>Lista de Precios :</p>
                    <p>* PS5 con unidad de disco Blu-ray Ultra HD: 549,99 euros</p>
                    <p>* Edición digital de PS5: 449,99 euros</p>
                    

                    <p>Como habrás podido ver, en Europa sube 50 euros, haciendo que la PS5 sea mucho más cara que su rival de Microsoft. Recordemos que la Xbox Series X cuesta 499,99 euros oficialmente, el mismo precio de la PS5
                         antes de esta subida. Pero la Xbox Series S tiene un precio mucho más comedido, 299 euros, lo que podría provocar una bajada de ventas de la PlayStation 5.</p>
                    
                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>


{% endblock %}
