{% extends "AppFinal/Padre.html" %}

{% load static %}

{% block Titulo %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">Solo un juego exclusivo de PS5 entre los diez más jugados.</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Enero 03, 2023 </div>
                    <div class="text-muted fst-italic mb-2">by Jose Rivas</div>
                    <!-- Post categories-->
               
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://i.blogs.es/9ff7ba/1366_2000/1366_2000.jpeg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p>Sony lleva tiempo armando un buen catálogo de juegos exclusivos bajo el sello PlayStation Studios. Ahí están Naughty Dog, Insomniac y los añadidos estos meses, como Housemarque
                         (desarrolladores de 'Returnal', una de las grandes sorpresas del año), 'Bluepoint' (Demon's Souls'), Firesprite (Astro's Playroom) y Nixxes (port de Marvel's Avengers').</p>

                    <p>Sobre el papel, la situación es interesante. Comprar estudios y unirlos bajo un mismo sello supone armar un catálogo de juegos que solo son accesibles desde la consola de Sony. 
                        Un motivo de peso para atraer jugadores, sobre todo teniendo franquicias como 'Uncharted', 'Ratchet y Clank', 'Spiderman', 'God of War', 'Horizon' o 'Gran Turismo'.</p>
                        
                    <p>En cualquier caso, la coletilla cuando hablamos de PlayStation es siempre la misma: "tiene exclusivos". Y así es como llegamos a la lista que Sony ha publicado hoy. 
                        De acuerdo a la firma nipona, se han lanzado más de 360 juegos en PS5 (no se menciona si hablan solo de PS5 o incluyen PS4 y juegos multiplataforma, cosa probable). Los jugadores han 
                        jugado 4.600 millones de horas en la consola y, por horas de juego, el top diez queda así:</p>

                    <p>Fortnite</p> 
                    <p>Call of Duty: Black Ops Cold War</p> 
                    <p>FIFA 21</p> 
                    <p>NBA 2K21</p> 
                    <p>Assassin’s Creed Valhalla</p> 
                    <p>Destiny 2</p> 
                    <p>MLB The Show 21</p> 
                    <p>Marvel’s Spider-Man: Miles Morales</p> 
                    <p>Demon’s Souls</p> 
                    <p>NBA 2K22</p> 


                    <p>Visto lo visto, la situación parecer ser la siguiente: vendrás porque te atrae el nuevo 'Horizon' / 'Ratchet y Clank' / 'God of War' / 'Gran Turismo', pero realmente
                         te quedarás porque desde la consola también puedes jugar a lo que juega todo el mundo, es decir, el 'Fortnite' / 'Call of Duty' / 'Battlefield' / 'FIFA' de turno.</p>
                    
                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>


{% endblock %}
