{% extends "AppFinal/Padre.html" %}

{% load static %}

{% block Titulo %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">God of War Ragnarök no es el mejor juego del 2022 según Metacritic... pero casi!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Enero 03, 2023 </div>
                    <div class="text-muted fst-italic mb-2">by Jose Rivas</div>
                    <!-- Post categories-->
               
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://phantom-marca.unidadeditorial.es/3c8f42fdd93d73e027f95a84e65c3086/resize/828/f/webp/assets/multimedia/imagenes/2022/11/09/16680202056038.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p>God of War Ragarök ha entrado con mucha fuerza. La nueva aventura de Kratos y Atreus se ha convertido en uno de los temas más comentados del momento y, en general, la crítica se ha deshecho en elogios para esta nueva y épica aventura. 
                        Por otro lado, la mayoría de jugadores que ya han estrenado el juego se han encontrado con una sorpresa muy grata, aunque esperada, tras su esperado reencuentro.</p>

                    <p>Gracias a esto, Santa Monica ha colocado su nueva obra en lo más alto de Metacritic. El afamado portal de notas y reviews ha visto como la posición de God of War Ragnarök crecía sin control alguno hasta alcanzar (casi) la cima.</p>

                    <h2>Elden Ring es el mejor juego de 2022 según Metacritic.</h2> 
                        
                    <p>Si nos remitimos a los juegos inéditos que han sido lanzados este año (omitimos de la ecuación, por ejemplo, el lanzamiento de Persona 5 Royal en nuevas plataformas), God of War Ragnarök es el segundo mejor juego del año con una media de 94 puntos.</p>
                    <p>De hecho, solo le supera Elden Ring, uno de los lanzamientos más destacados del año y otro de los grandes favoritos para el GOTY de 2022. Si las predicciones se cumplen, será uno de estos dos videojuegos quien conquiste la categoría de Mejor Juego del Año de 2022 en The Game Awards, aunque todavía no hay nada escrito.</p>
                    
                    <p>Al final, las notas de Metacritic son un resumen de la opinión general de muy diversos medios, mientras que en TGA las votaciones son algo diferentes. Sea como fuere, parece complicado (aunque hay otros grandes candidatos) que alguien les arrebate el primer puesto a cualquiera de estos dos.</p>
                    
                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>


{% endblock %}