{% extends "AppFinal/Padre.html" %}

{% load static %}


{% block Titulo %}

<br>
<h3 style="margin-left: 100px">{{ mensaje }}</h3>
<br>
<h4 style="margin-left: 180px"> Editando Perfil </h4>


<!--Mensaje de error en la pantalla al querer registrarse-->

<br>
<img src="{{ avatar }}" alt="" style="margin-left: 500px;" width="100" height="100">
<a class="btn btn-secondary" style="margin-left: 10px" href="{% url 'editaravatar' %}" value="">Cambia tu avatar</a>
<form action="{% url 'editarperfil' %}" method="POST"> {% csrf_token %}


<table style="margin-left: 70px" >

    {{ form.as_table }}

</table>

<br>
<input type="submit" style="margin-left: 270px" style="margin-inline-end: 200000em;" value="Guardar cambio" >

</form>



{% endblock %}


