{% extends "AppFinal/Padre.html" %}

{% load static %}

{% block Titulo %}

<center><h3>{{ mensaje }}</h3></center>



<br>

<br>

<h5 style="margin-left: 90px"> Lista de blogs</h5>

<br>

{% for ti in titu %}

<img src="{{ ti.imagen.url }}" alt="" style="margin-left: 70px" width="450" height="300">
<p class="text-muted fst-italic mb-2" style="margin-left: 90px">{{ ti.autor }} </p>
<p class="text-muted fst-italic mb-2" style="margin-left: 90px">{{ ti.creado }} </p>
<h5 style="margin-left: 90px">{{ ti.titulo }} </h5>
<h5 style="margin-left: 90px">{{ ti.subtitulo }} </h5>
<p style="margin-left: 90px">{{ ti.parrafo }} </p>
<p style="margin-left: 90px">{{ ti.autor }} </p>




<a class="btn btn-outline-info" style="margin-left: 80px" href=>Conoce mas!</a>
{% if user.is_authenticated %}
<a class="btn btn-outline-danger" style="margin-left: 300px" href="{% url 'eliminarblog' ti.id %}">Eliminar</a>
<a class="btn btn-outline-success" style="margin-left: 5px" href="{% url 'editarblog' ti.id %}">Editar</a>
{% else %}
{% endif %}
<br>
<br>
<br>

{% endfor %}



{% endblock %}